{% extends "base.html" %}

<!-- {% block title %}author{% endblock %} -->

{% block content %}
<div class="col-7 pt-2">
    <h3 class="text-center"> O autorze </h3>
    <p class="text-start"> 
        Name: John Doe
        Email: johndoe@example.com
        Username: johndoe
        Avatar: Image URL

        Bio: Passionate software engineer with a love for coding and problem-solving.

        Skills: Python, JavaScript, Java

        Experience:

        Software Engineer at ABC Tech (2018 - Present)
        Developed and maintained scalable web applications using Python and Django.
        Frontend Developer at XYZ Corp (2016 - 2018)
        Implemented user interfaces for web applications using HTML, CSS, and JavaScript.
        Education:

        Bachelor of Science in Computer Science
        University of ABC (2015)
        Projects:

        E-commerce Website (2022)

        Built a fully functional e-commerce website using Django and React.
        Technologies used: Python, Django, React, HTML, CSS
        Role: Full Stack Developer
        Task Management App (2021)

        Developed a task management application with real-time updates using Node.js and MongoDB.
        Technologies used: JavaScript, Node.js, MongoDB, HTML, CSS
        Role: Backend Developer    
    </p>
</div>
{% endblock %}