{% extends "base.html" %}

<!-- {% block title %}charts{% endblock %} -->

{% block content %}
<div class="col-9 pt-2">
    <h3 class="text-center"> Wykres kołowy </h3>
    <img src="..." class="rounded float-center" alt="wykres kołowy">
</div>
<div class="col-9">
    <h3 class="text-center"> Wykres kolumnowy </h3>
    <img src="..." class="rounded float-center" alt="wykres kolumnowy">
</div>
<div class="col-9">
    <form method="POST"><a href="{{url_for('product')}}"><button type="button" class="btn btn-dark"> Wróć </button></a>
</div>
{% endblock %}