{% extends "base.html" %}

<!-- {% block title %}Pobierz opinie{% endblock %} -->

{% block content %}
<div class="col-4 pt-2">
    <form method="POST" action="{{url_for('extract')}}">
        <label for="product-id" class="form-label"> Wpisz id produktu </label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="product_id" name="product_id" placeholder="type in product id" aria-describedby="submit-button">
            <input class="btn btn-outline-secondary" id="submit-button" type="submit" value="Pobierz">
        </div>
    </form>
</div>
{% endblock %}