{% extends "base.html" %}

{% block title %}products{% endblock %}

{% block content %}
<div class="col pt-2">
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item flex-fill">id opinii</li>
    <li class="list-group-item flex-fill">Liczba opinii</li>
    <li class="list-group-item flex-fill">Liczba wad</li>
    <li class="list-group-item flex-fill">Liczba zalet</li>
    <li class="list-group-item flex-fill">Średnia ocen</li>
    <li class="list-group-item flex-fill">Pobierz csv, xlsx lub json</li>
  </ul>
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item flex-fill"><a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="/product">produkt1</a></li>
    <li class="list-group-item flex-fill">...</li>
    <li class="list-group-item flex-fill">...</li>
    <li class="list-group-item flex-fill">...</li>
    <li class="list-group-item flex-fill">...</li>
    <li class="list-group-item flex-fill"><form method="POST"><a href="#" download="file1"><button type="button" class="btn btn-dark"> pobierz .csv </button></a><a href="#" download="file1"><button type="button" class="btn btn-dark"> pobierz .json </button></a><a href="#" download="file1"><button type="button" class="btn btn-dark"> pobierz .csv </button></a></li>
  </ul>
</div>
{% endblock %}